[color]
  ui = true
[user]
	name = Pavlo Pavlovsky
  email = fatpaher@gmail.com
[alias]
  ch = checkout
  ci = commit
  st = status
  br = branch
  hist = log --all --decorate --oneline --graph
  type = cat-file -t
  dump = cat-file -p
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[core]
  editor = vim
  autocrlf = false
  safecrlf = true
  excludesfile = ~/.gitignore
[push]
  default = simple
[pull]
	ff = only
[credential]
	helper = cache
